
.slider-container{
    scroll-snap-type:y mandatory;
    display:flex;
    flex-direction: column;
    width: 50vh; 
    height: 90vh;
    overflow-y:scroll;
    overflow-x: hidden;
}

.slider-container div{
    scroll-snap-align:center;
    flex: 0 0 400px;
    width: 300px;
}
