* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: calc(10px + 2vmin);
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    margin-bottom: 50px;
    width: 100%;
  }
  img {
    width: 200px;
    height: 40px;
  }
  .linksOffline, .linksOnline {
    display: flex;
    font-size:small;
    align-items: center;
    justify-content:space-around;
  }
  .linksOnline{
    width:500px;    
  }

  .linksOffline{
    width:200px;    
  }
.counter{
  width: 25px;
  height: 25px;
  border: 2px solid #012433;
  background-color: #07a2e4;
  color: #ffffff;
  text-shadow: #25384e;
  border-radius: 1000px;
  justify-content:center ;
  align-items: center;
  text-align: center;
  font-weight: bolder;
}

.counter:hover{
  background-color: white;
  color:#07a2e4
}