* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    /* font-size: calc(10px + 2vmin); */
    font-size: x-small;
    min-height: 3vh;
    min-width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom:0; 
    z-index:999999;
    position:fixed;
    float: left;
  
  }